* {
    box-sizing: border-box;
}

body {
    font-family: 'Overpass', sans-serif;
    font-size: 1rem;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: hsl(216, 12%, 8%);
}

/* Typography */
.title {
    color: hsl(0, 0%, 100%);
}

.subtitle,
.rating span {
    color: hsl(216, 12%, 54%);
}

.submit {
    color: white;
}

.attribution {
    color: white;
}

/* Layout */
.container {
    background-color: hsl(213, 19%, 18%);
    width: 50%;
    margin: 0 auto;
    padding: 2em;
    border-radius: 25px;
}