* {
    box-sizing: border-box;
}

body {
    font-family: 'Overpass', sans-serif;
    font-size: 1rem;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: hsl(216, 12%, 8%);
}

a {
    text-decoration: none;
}

/* Typography */
.title {
    color: hsl(0, 0%, 100%);
}

.subtitle,
.rating-btn {
    color: hsl(216, 12%, 54%);
}

.submit-btn {
    color: white;
}

.attribution {
    color: white;
}

/* Layout */
.container {
    background-color: hsl(213, 19%, 18%);
    width: 400px;
    margin: 0 auto;
    padding: 2em;
    border-radius: 25px;
}

/* Styling spans/numbers and the star svg */


.rating {
    display: flex;
    justify-content: space-between;
    margin: 1.5em 0;
}


.rating-btn,
.svg-div {
    /* padding: 20px; */
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    background-color: hsl(222, 12%, 22%);
    border: 0;
    color: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rating-btn {
    color: hsl(216, 12%, 54%);
}

/* Buttons */
.rating-btn:focus,
.rating-btn:hover {
    background: hsl(25, 97%, 53%);
    font-weight: 700;
    color: white;
}

.submit-btn {
    display: inline-block;
    padding: .7em 40%;
    background-color: hsl(25, 97%, 53%);
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 3px;
    border: 0;
    border-radius: 20px;
}

.submit-btn:focus,
.submit-btn:hover {
    color: hsl(25, 97%, 53%);
    background: white;
}

#selected-btn {
    background: hsl(217, 12%, 63%);
    color: white;
    font-weight: 700;
}


/* Thank you state */
.thank-you-state {
    text-align: center;
    opacity: .9;
    display: grid;
    display: none;
}

.result {
    margin-top: 2em;
}

.result-span {
    color: hsl(25, 97%, 53%);
    background: hsl(222, 12%, 22%);
    padding: .7em 1.5em;
    border-radius: 20px;
}

.ty-state-svg {
    margin: 1em 0;
    justify-self: center;
}

/* Attribution */
.attribution {
    margin-top: 2em;
    text-align: center;
}

.attribution a {
    color: hsl(25, 97%, 53%);
}

.attribution a:focus,
a:hover {
    color: white;
}